[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
waitress = "*"
Flask = "*"
requests_ntlm = "*"
cryptography = "==3.3.2"

[dev-packages]

[requires]
python_version = "3.7"
